body {
	header {
		width: 100%;
		position: fixed;
		padding: 30px 0;
		z-index: 9999;
		transition: all 0.5s;
		nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			h1 {
				font-size: 0;
				background: url(../img/logo_white.png) no-repeat center center / cover;
				width: 140px;
				height: 32px;
				a {
					width: 100%;
					height: 100%;
				}
			}
			ul.gnb {
				position: absolute;
				width: 100%;
				display: flex;
				justify-content: center;
				padding-left: 100px;
				> li {
					position: relative;
					> a {
						display: block;
						padding: 10px 30px;
						font-size: 16px;
						font-weight: 400;
						color: #fff;
						letter-spacing: 0;
					}
					.gnbSubWrap {
						position: absolute;
						width: 120%;
						left: 50%;
						transform: translateX(-50%);
						display: none;
						ul.gnbSub {
							margin-top: 30px;
							background-color: #fff;
							li {
								a {
									display: block;
									padding: 15px 0;
									text-align: center;
									color: #000;
									transition: all 0.3s;
								}
							}
							li:hover a {
								background-color: #1e1e1e;
								color: #fff;
							}
						}
					}
				}
				> li.hover:before {
					content: "";
					position: absolute;
					top: 5px;
					right: 15px;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background-color: #fff;
				}
				> li.hover.scroll:before {
					background-color: #000;
				}
			}
			button {
				width: 30px;
				height: 30px;
				display: none;
				flex-direction: column;
				justify-content: center;
				cursor: pointer;
				span {
					display: block;
					width: 30px;
					height: 2px;
					background-color: #fff;
					transition: all 0.5s;
					position: relative;
					transition: all 0.5s;
					&::before,
					&::after {
						content: "";
						position: absolute;
						width: 30px;
						height: 2px;
						left: 0;
						background-color: #fff;
						transition: all 0.3s;
					}
					&::before {
						top: -10px;
					}
					&::after {
						bottom: -10px;
					}
				}
			}
		}
	}
	header.scroll {
		background-color: rgba(255, 255, 255);
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		padding: 15px 0;
		nav {
			h1 {
				background: url(../img/logo_color.png) no-repeat center center / cover;
			}
			ul {
				li {
					a {
						color: #111;
					}
				}
			}
			button {
				span {
					background-color: #111;
				}
			}
		}
	}
	header.mscroll {
		padding: 15px 0;
		background-color: rgba(0, 0, 0, 0.8);
	}
}
