body * {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.8px;
}
body button {
  background-color: transparent;
  border: none;
}
body a {
  color: #111;
  text-decoration: none;
}
body button, body a {
  display: inline-block;
}
body .inner {
  width: 90%;
  margin: auto;
}
body .hidden {
  display: none;
}
body .opacity {
  opacity: 0;
}

main section {
  width: 100%;
  margin-bottom: 100px;
}
main .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100px;
  background-color: black;
}

.subTitle {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -1.5px;
  color: #222;
}

.subDesc {
  font-size: 15px;
  letter-spacing: -0.8px;
  color: #888;
}