@media (max-width: 1024px) {
  body .inner {
    width: 95%;
  }
  header .inner nav ul.gnb {
    position: fixed;
    display: flex;
    left: auto;
    right: -250px;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #111;
    transform: translate(0, 0);
    flex-direction: column;
    text-align: center;
  }
  header .inner nav ul.gnb > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  header .inner nav ul.gnb > li > a {
    display: block;
    padding: 20px 0;
  }
  header .inner nav ul.gnb > li .icon {
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    top: 20px;
    right: 20px;
  }
  header .inner nav ul.gnb > li .gnbSubWrap {
    position: static;
    width: 100%;
    left: auto;
    transform: translateX(0);
    display: none;
  }
  header .inner nav ul.gnb > li .gnbSubWrap ul.gnbSub {
    margin-top: 0;
    background-color: #fff;
  }
  header .inner nav ul.gnb > li.on .icon {
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    top: 25px;
  }
  header .inner nav button {
    display: flex;
  }
  main section#s1 .tri01 {
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: -229px;
    z-index: 20;
    background: url(../img/tri01.png) no-repeat 100% 100%/100%;
  }
  main section#s1 .tri01 .line {
    bottom: -30px;
  }
  main section#s1 .sectionTitle .slide {
    display: none;
  }
  main section#s1 .swiperWrap .swiper-button-next, main section#s1 .swiperWrap .swiper-button-prev {
    display: none;
  }
  main section#s2 {
    height: auto;
    margin-top: 200px;
  }
  main section#s2 .tri02 {
    display: none;
  }
  main section#s2 .sectionTitle {
    width: 100%;
    margin: 0;
    text-align: center;
    position: absolute;
    left: 0;
    top: -100px;
    transform: translateX(0);
  }
  main section#s2 .sectionTitle h2 {
    color: #111;
  }
  main section#s2 .sectionTitle p {
    color: #111;
  }
  main section#s2 .contentWrap {
    position: static;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 5;
  }
  main section#s2 .contentWrap .business {
    width: 100%;
    height: 100px;
    border-top: 2px solid #fff;
  }
  main section#s2 .contentWrap .business a p {
    display: none;
  }
  main section#s2 .contentWrap .business a h3 {
    font-size: 30px;
    margin-bottom: 0;
  }
  main section#s2 .contentWrap .business:nth-of-type(2) {
    border-left: none;
    border-right: none;
  }
  main section#s2 .tri01_gray {
    display: none;
  }
  main section#s3 {
    padding-bottom: 100px;
  }
  main section#s3 span.line {
    display: none;
  }
  main section#s3 .contentWrap {
    background: none;
    width: 100%;
    height: auto;
  }
  main section#s3 .contentWrap .inner .news {
    width: 100%;
    max-width: 900px;
    padding-top: 0;
  }
  main section#s4 .contentWrap {
    flex-direction: column;
  }
  main section#s4 .contentWrap .recruit {
    overflow: hidden;
    width: 100%;
    height: 250px;
  }
  footer {
    width: 100%;
    padding: 50px 0 30px;
  }
  footer .inner ul.footerNav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
  }
  footer .inner ul.footerNav li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    font-size: 14px;
    color: #fff;
    opacity: 0.5;
    letter-spacing: 0;
  }
  footer .inner ul.footerNav li a:hover {
    opacity: 1;
  }
  footer .inner address.textWrap {
    margin-top: 60px;
  }
  footer .inner address.textWrap p {
    color: #fff;
    opacity: 0.5;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 30px;
  }
}